---
import { Image } from "astro:assets";

import Ellipse from "@svgs/Ellipse.svg";
import Vector1 from "@svgs/Vector1.svg";
import Vector2 from "@svgs/Vector2.svg";
import Vector3 from "@svgs/Vector3.svg";

import EllipseTablet from "@svgs/Ellipse-tablet.svg";
import Vector1Tablet from "@svgs/Vector1-tablet.svg";
import Vector2Tablet from "@svgs/Vector2-tablet.svg";
import Vector3Tablet from "@svgs/Vector3-tablet.svg";

import EllipseDesktop from "@svgs/Ellipse-desktop.svg";
import Vector1Desktop from "@svgs/Vector1-desktop.svg";
import Vector2Desktop from "@svgs/Vector2-desktop.svg";
import Vector3Desktop from "@svgs/Vector3-desktop.svg";
---

<section class="app-container">
  <!-- Mobile -->
  <div class="app-centered-image ellipse">
    <Image src={Ellipse} alt="background image" />
  </div>
  <div class="app-centered-image vector1">
    <Image src={Vector1} alt="background image" />
  </div>
  <div class="app-centered-image vector2">
    <Image src={Vector2} alt="background image" />
  </div>
  <div class="app-centered-image vector3">
    <Image src={Vector3} alt="background image" />
  </div>

  <!-- Tablet -->
  <div class="app-centered-image ellipse-tablet">
    <Image src={EllipseTablet} alt="background image" />
  </div>
  <div class="app-centered-image vector1-tablet">
    <Image src={Vector1Tablet} alt="background image" />
  </div>
  <div class="app-centered-image vector2-tablet">
    <Image src={Vector2Tablet} alt="background image" />
  </div>
  <div class="app-centered-image vector3-tablet">
    <Image src={Vector3Tablet} alt="background image" />
  </div>

  <!-- Desktop -->
  <div class="app-centered-image ellipse-desktop">
    <Image src={EllipseDesktop} alt="background image" />
  </div>
  <div class="app-centered-image vector1-desktop">
    <Image src={Vector1Desktop} alt="background image" />
  </div>
  <div class="app-centered-image vector2-desktop">
    <Image src={Vector2Desktop} alt="background image" />
  </div>
  <div class="app-centered-image vector3-desktop">
    <Image src={Vector3Desktop} alt="background image" />
  </div>

  <slot />
</section>

<style>
  .app-container {
    width: 100%;
  }

  .app-centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
  }

  .ellipse {
    transform: translate(-50%, -100svh);
  }

  .vector1 {
    transform: translate(-50%, -30svh);
  }

  .vector2 {
    transform: translate(-50%, 130svh);
  }

  .vector3 {
    transform: translate(-50%, 200svh);
  }

  .ellipse-tablet,
  .vector1-tablet,
  .vector2-tablet,
  .vector3-tablet,
  .ellipse-desktop,
  .vector1-desktop,
  .vector2-desktop,
  .vector3-desktop {
    display: none;
  }

  @media (width >= 568px) {
    .ellipse,
    .vector1,
    .vector2,
    .vector3 {
      display: none;
    }

    .ellipse-tablet,
    .vector1-tablet,
    .vector2-tablet,
    .vector3-tablet {
      display: block;
    }

    .ellipse-tablet {
      transform: translate(-50%, -160svh);
    }

    .vector1-tablet {
      transform: translate(-50%, -30svh);
    }

    .vector2-tablet {
      transform: translate(-50%, 130svh);
    }

    .vector3-tablet {
      transform: translate(-50%, 200svh);
    }
  }

  @media (width >= 1280px) {
    .ellipse-tablet,
    .vector1-tablet,
    .vector2-tablet,
    .vector3-tablet {
      display: none;
    }

    .ellipse-desktop,
    .vector3-desktop {
      display: block;
    }

    .vector1-desktop,
    .vector2-desktop {
      display: block;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
    }

    .ellipse-desktop {
      transform: translate(-50%, -115svh);
    }

    .vector1-desktop {
      transform: translate(0, 20svh);
    }

    .vector2-desktop {
      transform: translate(0, 165svh);
    }

    .vector3-desktop {
      transform: translate(-50%, 190svh);
    }
  }

  /* MOBILE SPECIFIC */
  @media screen and (width >= 1920px) {
    .ellipse-desktop {
      transform: translate(-50%, -115svh);
    }

    .vector1-desktop {
      transform: translate(0, 20svh);
    }

    .vector2-desktop {
      transform: translate(0, 140svh);
    }

    .vector3-desktop {
      transform: translate(-50%, 150svh);
    }
  }

  @media screen and (width >= 568px) and (height <= 430px) {
    .vector2-tablet {
      transform: translate(-50%, 400svh);
    }

    .vector3-tablet {
      transform: translate(-50%, 500svh);
    }
  }

  @media screen and (width < 568px) and (height <= 740px) {
    .ellipse {
      transform: translate(-50%, -120svh);
    }
  }
  /* END OF MOBILE SPECIFIC */

  /* TABLET */
  @media screen and (width >= 768px) and (height >= 1024px) {
    .ellipse-tablet {
      transform: translate(-50%, -160svh);
    }

    .vector3-tablet {
      transform: translate(-50%, 230svh);
    }
  }

  @media screen and (width >= 768px) and (height >= 1180px) {
    .ellipse-tablet {
      transform: translate(-50%, -140svh);
    }

    .vector3-tablet {
      transform: translate(-50%, 205svh);
    }
  }

  @media screen and (width >= 1024px) and (height >= 1366px) {
    .ellipse-tablet {
      transform: translate(-50%, -130svh);
    }

    .vector2-tablet {
      transform: translate(-50%, 100svh);
    }

    .vector3-tablet {
      transform: translate(-50%, 180svh);
    }
  }
  /* END TABLET */

  /* TABLET LANDSCAPE */
  @media screen and (width >= 1024px) and (height <= 820px) {
    .ellipse-tablet {
      transform: translate(-50%, -200svh);
    }

    .vector2-tablet {
      transform: translate(-50%, 200svh);
    }

    .vector3-tablet {
      transform: translate(-50%, 300svh);
    }
  }

  @media screen and (width >= 1280px) and (height <= 1000px) {
    .ellipse-desktop {
      transform: translate(-50%, -135svh);
    }
  }
  /* END TABLET LANDSCAPE*/
</style>
