---
import Image from "astro/components/Image.astro";
import WS from "@svgs/ws.svg";

export interface Props {
  position: string;
  name: string;
  email: string;
  phoneUrl: string;
  phone: string;
}

const { position, name, email, phoneUrl, phone } = Astro.props;
---

<div class="contact">
  <p class="position body2">{position}</p>

  <div class="info-wrapper">
    <p class="name">{name}</p>

    <a
      class="phone-wrapper"
      href={phoneUrl}
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <Image src={WS} alt="WhatsApp Icon" width={16} height={16} />
      <p class="name">{phone}</p>
    </a>

    <a href=`mailto:${email}` target="_blank" referrerpolicy="no-referrer">
      <p class="email body2">{email}</p>
    </a>
  </div>
</div>

<style>
  .contact {
    padding: 16px 32px;
    border-bottom: 1px solid var(--divider);
    display: flex;
    flex-flow: column;
  }

  .position,
  .email {
    margin-bottom: 16px;
  }

  .name {
    font-size: 16px;
    font-weight: 600;
  }

  .phone-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .info-wrapper {
    display: flex;
    flex-flow: column;
  }

  .info-wrapper > a {
    text-decoration: none;
  }

  @media (width >= 767px) {
    .contact {
      flex-flow: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    .position {
      flex: 40%;
      text-align: center;
    }

    .info-wrapper {
      flex: 60%;
      justify-content: flex-start;
    }
  }

  @media (width >= 1280px) {
    .contact {
      padding: 16px 32px 64px 32px;
    }
  }

  @media (width >= 1920px) {
    .contact {
      padding: 16px 32px 128px 32px;
    }
  }
</style>
