---
import { Image } from "astro:assets";

import { getData } from "@core/api";
import { getIconSource } from "@core/utils/getIconByName";
import type { ClientsData } from "@core/types/clients";

const data: ClientsData = await getData("clients");
---

<section class:list={["customers", "bring-up"]}>
  {
    data.clients.map(({ name, logo, siteUrl }) => (
      <a
        class="icon"
        href={siteUrl}
        target="_blank"
        referrerpolicy="no-referrer"
      >
        <Image
          style={{
            filter: "brightness(0) invert(1)",
          }}
          src={getIconSource(logo.src)}
          alt={logo.alt}
          width={logo.width}
          height={logo.height}
          title={name}
        />
      </a>
    ))
  }
</section>

<style>
  .customers {
    z-index: 1;
    position: relative;
    background: var(--paper);
    padding: 32px 24px;
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    align-items: center;
    gap: 24px;
    scrollbar-width: none;
  }

  .customers::-webkit-scrollbar {
    width: 0px;
  }

  .icon {
    margin-left: auto;
    min-width: 150px;
    text-align: center;
  }
  .icon:last-child {
    margin-right: auto;
  }
</style>
