---
import { Image } from "astro:assets";

import Marca from "@svgs/Marca.svg";
import Iris from "@svgs/Iris.svg";
---

<section class:list={["customers", "bring-up"]}>
  <Image class="icon" src={Marca} alt="Marca" />
  <Image class="icon" src={Marca} alt="Marca" />
  <Image class="icon" src={Iris} alt="Marca" />
  <Image class="icon" src={Marca} alt="Marca" />
  <Image class="icon" src={Marca} alt="Marca" />
</section>

<style>
  .customers {
    z-index: 1;
    position: relative;
    background: var(--paper);
    padding: 32px 24px;
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    align-items: center;
    gap: 24px;
    scrollbar-width: none;
  }

  .customers::-webkit-scrollbar {
    width: 0px;
  }

  .icon {
    margin-left: auto;
  }
  .icon:last-child {
    margin-right: auto;
  }
</style>
