---
import { Image } from "astro:assets";

import { getData } from "@core/api";

import Logo from "@svgs/Logo.svg";

import type { Footer } from "@core/types/footer";

const data: Footer = await getData("footer");
---

<footer class="bring-up">
  <section class="links">
    <div class="all-links">
      <div class="links-section">
        <a href={data.links.services.url}>{data.links.services.label}</a>
        <a href={data.links.projects.url}>{data.links.projects.label}</a>
        <a href=`mailto:${data.links.work.url}`>{data.links.work.label}</a>
      </div>

      <div class="links-section">
        <a
          href={data.links.instagram.url}
          target="_blank"
          referrerpolicy="no-referrer"
          >{data.links.instagram.label}
        </a>
        <a
          href={data.links.linkedin.url}
          target="_blank"
          referrerpolicy="no-referrer"
          >{data.links.linkedin.label}
        </a>
      </div>
    </div>

    <div>
      <p class="chat">{data.talkWithUs}</p>
      <a href=`mailto:${data.email}`>{data.email}</a>
    </div>
  </section>

  <Image src={Logo} class="logo" alt="Orbita Logo" />
</footer>

<style>
  footer {
    padding: 48px 16px;
    display: flex;
  }

  .links {
    width: 343px;
    max-width: 343px;
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .all-links {
    display: flex;
    align-items: flex-start;
    gap: 48px;
  }

  .links-section {
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .chat {
    font-size: 12px;
    line-height: 15px;
  }

  .logo {
    display: none;
  }

  @media (width >= 768px) {
    footer {
      padding: 48px 64px;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: initial;
    }
  }

  @media (width >= 1280px) {
    footer {
      justify-content: space-around;
    }
  }
</style>
