---
import { ContactForm } from "@components/islands/contact-form/ContactForm";
import ContactInfo from "@components/ContactInfo.astro";
import Modal from "@components/shared/Modal.astro";
import type { Help } from "@core/types/help";
import { getData } from "@core/api";

const data: Help = await getData("help");
---

<section id="getHelp" class="get-help bring-up">
  <h2>{data.title}</h2>

  <ContactInfo
    position={data.founder.role}
    email={data.founder.email}
    name={data.founder.name}
    phoneUrl={data.founder.phoneApi}
    phone={data.founder.phone}
  />
  <ContactInfo
    position={data.admin.role}
    email={data.admin.email}
    name={data.admin.name}
    phoneUrl={data.admin.phoneApi}
    phone={data.admin.phone}
  />

  <Modal
    class="contact-button"
    id="contactdialog"
    buttonText={data.buttonLabel}
  >
    <main class="dialog-content" slot="main">
      <ContactForm formLabels={data.form} client:load />
    </main>
  </Modal>
</section>

<style>
  .get-help {
    background: var(--paper);
    padding: 56px 16px;
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .contact {
    padding: 16px 32px;
    border-bottom: 1px solid var(--divider);
  }

  .position,
  .email {
    margin-bottom: 16px;
  }

  .name {
    font-size: 16px;
    font-weight: 600;
  }

  .dialog-content {
    height: 90%;
  }

  .contact-button {
    width: 230px;
    padding: 8px 16px;
    align-self: center;
  }

  @media (width >= 767px) {
    .get-help {
      padding: 56px 32px;
    }
  }

  @media (width >= 1280px) {
    h2 {
      text-align: center;
    }
  }
</style>
