---
import { Image } from "astro:assets";

import Logo from "@svgs/Logo.svg";
import Scroll from "@svgs/Scroll.svg";
import { getData } from "@core/api";

import type { HeroBanner } from "@core/types/hero";

const data: HeroBanner = await getData("hero");
---

<section class:list={["hero-container", "bring-up"]}>
  <div class="image-container">
    <Image src={Logo} alt={data.logo.alt} />
  </div>

  <p class:list={["description", "body2"]}>
    {data.slogan}
  </p>

  <div class="scroll-container">
    <Image src={Scroll} alt="Scroll" />
    <p class="body2">{data.scrollDown}</p>
  </div>
</section>

<style>
  .hero-container {
    min-height: calc(100svh - 56px);
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .image-container {
    margin-top: 35svh;
  }

  .description {
    max-width: 50svw;
    margin-top: 50px;
    text-align: center;
  }

  .scroll-container {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  /* Specific rules for really small screens */
  @media screen and (width < 568px) and (height <= 667px) {
    .scroll-container {
      margin-top: 60px;
    }
  }

  @media (width >= 768px) {
    .image-container {
      margin-top: 40svh;
    }

    .scroll-container {
      margin-top: 200px;
    }
  }

  @media (width >= 1024px) {
    .image-container {
      margin-top: 35svh;
    }

    .scroll-container {
      margin-top: 200px;
    }
  }

  @media (width >= 1280px) {
    .image-container {
      margin-top: 40svh;
    }

    .scroll-container {
      margin-top: 250px;
    }
  }
</style>
