---
import { Image } from "astro:assets";
import MetricCard from "@components/MetricCard.astro";
import { getData } from "@core/api";
import { getIconSource } from "@core/utils/getIconByName";
import type { MetricsData } from "@core/types/Metric";

const data: MetricsData = await getData("metrics");
---

<section class:list={["metrics-container", "bring-up"]}>
  <!-- Mobile only -->

  <!-- Mobile only -->
  <div class="metrics-partial-container">
    {
      data.metrics.map(({ value, description }) => (
        <MetricCard title={value} description={description} />
      ))
    }
  </div>

  <!-- Desktop Only -->
  {
    data.metrics.map(({ value, description, iconName }) => (
      <MetricCard class="desktop-only" title={value} description={description}>
        <div class="metric-icon-wrapper">
          <Image
            class="metric-icon"
            src={getIconSource(iconName)}
            alt="Icono de metricas"
          />
        </div>
      </MetricCard>
    ))
  }
</section>

<style>
  .metrics-container {
    display: flex;
    flex-flow: column;
    padding: 56px 16px;
    width: 100%;
    gap: 24px;
  }

  .metrics-partial-container {
    display: flex;
    flex-flow: row;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .metrics-partial-container > :nth-child(1),
  .metrics-partial-container > :nth-child(2) {
    width: calc(50% - 12px);
  }

  .metric-icon-wrapper {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  @media (width >= 768px) {
    .metrics-container {
      padding: 56px 32px;
    }
  }

  @media (width >= 1280px) {
    .desktop-only {
      display: initial;
    }

    .metrics-container {
      flex-flow: row;
      padding: 56px 64px;
    }

    .metrics-partial-container {
      display: none;
    }

    .metric-icon-wrapper {
      display: initial;
      height: 80px;
    }

    .metric-icon {
      width: 38px;
      height: 38px;
    }
  }
</style>
