---
import { Image } from "astro:assets";

import { getData } from "@core/api";
import { MobileMenu } from "@components/islands/mobile-menu/MobileMenu";
import MenuLogo from "@svgs/menu-logo.svg";
import type { Menu } from "@core/types/menu";

const data: Menu = await getData("menu");
---

<nav class="nav-wrapper bring-up">
  <div class="desktop-menu">
    <a href="/">
      <Image
        src={MenuLogo}
        alt={data.logoImage.alt}
        class="logo-wrapper-desktop"
      />
    </a>

    <div class="links-wrapper">
      <a href={data.items.work.url}>{data.items.work.label}</a>
      <a href={data.items.services.url}>{data.items.services.label}</a>

      <a href={data.items.contact.url} class="btn energy contact-btn">
        {data.items.contact.label}
      </a>
    </div>

  </div>

  <a class="mobile-logo" href="/">
    <Image src={MenuLogo} alt={data.logoImage.alt} class="logo-wrapper" />
  </a>

  <MobileMenu
    openLabel={data.mobileButtons.open}
    closeLabel={data.mobileButtons.close}
    items={data.items}
    client:only="react"
  />
</nav>

<style>
  .nav-wrapper {
    background: var(--header-background);
    padding: 8px 16px;
    height: 56px;
    display: flex;
    justify-content: space-between;
  }

  .logo-wrapper {
    width: 162px;
    display: flex;
    align-items: center;
  }

  .logo-wrapper-desktop {
    display: none;
  }

  .hamburger-icon {
    width: 18px;
    height: 12px;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-logo {
    display: flex;
    align-items: center;
  }

  @media (width >= 1280px) {
    .logo-wrapper {
      display: none;
    }

    .desktop-menu {
      width: 100%;
      display: initial;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    .links-wrapper {
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .desktop-menu a {
      font-size: 13px;
      line-height: 22px;
      text-decoration: none;
      color: var(--energy-blue);
      margin: 0 16px;
    }

    .logo-wrapper-desktop {
      display: initial;
      width: 162px;
    }

    .contact-btn {
      width: 103px;
      height: 30px;
      font-size: 13px;
      line-height: 22px;
      padding: 4px 13px;
    }
  }
</style>
