---
import { Image } from "astro:assets";

import { getContentApiURL } from "@core/api";
import { MobileMenu } from "@components/islands/mobile-menu/MobileMenu";
import MenuLogo from "@svgs/menu-logo.svg";
import type { Menu } from "@core/types/menu.type";

const apiUrl = getContentApiURL("menu");

const response = await fetch(apiUrl);
const data: Menu = await response.json();
---

<nav class="nav-wrapper bring-up">
  <div class="desktop-menu">
    <Image src={MenuLogo} alt="Menu logo" class="logo-wrapper-desktop" />
    <a href={data.items.work.url}>{data.items.work.label}</a>
    <a href={data.items.contact.url} class="btn energy contact-btn">
      {data.items.contact.label}
    </a>
  </div>

  <Image src={MenuLogo} alt="Menu logo" class="logo-wrapper" />

  <MobileMenu
    openLabel={data.mobileButtons.open}
    closeLabel={data.mobileButtons.close}
    items={data.items}
    client:only="react"
  />
</nav>

<style>
  .nav-wrapper {
    background: var(--header-background);
    padding: 8px 16px;
    height: 56px;
    display: flex;
    justify-content: space-between;
  }

  .logo-wrapper {
    width: 162px;
    display: flex;
    align-items: center;
  }

  .logo-wrapper-desktop {
    display: none;
  }

  .hamburger-icon {
    width: 18px;
    height: 12px;
  }

  .desktop-menu {
    display: none;
  }

  @media (width >= 1280px) {
    .logo-wrapper {
      display: none;
    }

    .desktop-menu {
      width: 100%;
      display: initial;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    .desktop-menu > a {
      font-size: 13px;
      line-height: 22px;
      text-decoration: none;
      color: var(--energy-blue);
    }

    .logo-wrapper-desktop {
      display: initial;
      width: 162px;
    }

    .contact-btn {
      width: 103px;
      height: 30px;
      font-size: 13px;
      line-height: 22px;
      padding: 4px 13px;
    }
  }
</style>
