---
import { Image } from "astro:assets";
import Card from "./shared/Card.astro";
import { getIconSource } from "@core/utils/getIconByName";

export interface Props {
  projectName: string;
  projectDescription: string;
  imgUrl: string;
  imgAlt: string;
  attributes: string[];
  projectUrl?: string;
}

const {
  projectName,
  projectDescription,
  imgUrl,
  imgAlt,
  attributes,
  projectUrl,
} = Astro.props;
---

<Card class="card">
  <a href={projectUrl} class="project-card">
    <h4>{projectName}</h4>
    <div class="project-attributes">
      {
        attributes.map((att, index) => (
          <>
            <p class="body2">{att}</p>

            {index + 2 <= attributes.length ? <span class="separator" /> : null}
          </>
        ))
      }
    </div>
    <p class="body1">
      {projectDescription}
    </p>

    <Image src={getIconSource(imgUrl)} alt={imgAlt} class="logo" />
  </a>
</Card>

<style>
  .card {
    background: var(--paper);
    min-width: 300px;
    width: 300px;
  }

  .card > a {
    text-decoration: none;
  }

  .project-attributes {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
    min-height: 50px;
  }

  .separator {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: var(--energy-blue);
    align-self: auto;
  }

  .project-card {
    display: flex;
    flex-flow: column;
    gap: 16px;
  }

  .project-card > h4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    min-height: 185px;
  }

  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 8px;
  }

  .body1 {
    min-height: 220px;
  }

  @media (width >= 767px) {
    .card {
      background: var(--paper);
      min-width: 536px;
      width: 536px;
    }

    .project-card > h4 {
      font-size: 34px;
      line-height: 42px;
      font-weight: 400;
      min-height: auto;
    }

    .body1 {
      min-height: 130px;
    }
  }
</style>
