---
import type { ProjectsData } from "@core/types/projects";
import ProjectCard from "./ProjectCard.astro";
import { getData } from "@core/api";

const data: ProjectsData = await getData("projects");
---

<section class="bring-up projects">
  <div class="title-wrapper">
    <h3>{data.title}</h3>
    <p>
      {data.subtitle}
    </p>
  </div>

  <section class="project-cards-wrapper">
    {
      data.projects.map(
        ({ attributes, bannerImage, description, title, projectUrl }) => (
          <ProjectCard
            attributes={attributes}
            imgAlt={bannerImage.alt}
            imgUrl={bannerImage.src}
            projectDescription={description}
            projectName={title}
            projectUrl={projectUrl}
          />
        )
      )
    }
  </section>

  <a href={data.button.url} class="btn primary projects-button">
    {data.button.label}</a
  >
</section>

<style>
  .projects {
    padding: 56px 0;
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .title-wrapper {
    max-width: 375px;
    padding: 0 16px;
    display: flex;
    flex-flow: column;
    gap: 16px;
    margin: 0 0 24px 0;
  }

  .project-cards-wrapper {
    overflow-x: auto;
    display: flex;
    flex-flow: row;
    gap: 24px;
    scrollbar-width: none;
    flex-wrap: nowrap;
    padding: 0 16px;
  }

  .project-cards-wrapper::-webkit-scrollbar {
    width: 0px;
  }

  .projects-button {
    width: 186px;
    align-self: center;
    padding: 8px;
  }

  @media (width >= 767px) {
    .title-wrapper {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (width >= 1280px) {
    .title-wrapper {
      padding: 0 32px;
    }
  }
</style>
