---
import { getData } from "@core/api";
import { getIconSource } from "@core/utils/getIconByName";
import { Image } from "astro:assets";

import ServicesCard from "@components/ServicesCard.astro";

import type { ServicesData } from "@core/types/services";

const data: ServicesData = await getData("services");
---

<section class:list={["bring-up", "services-wrapper"]}>
  <div class="our-services">
    <div class="title-wrapper">
      <h3>{data.title}</h3>
      <p class="title-description">
        {data.description}
      </p>

      <a href={data.buttonUrl} class="btn primary services-button">
        {data.buttonLabel}
      </a>
    </div>

    <div class="cards-wrapper">
      {
        data.services.map(({ name, iconName }) => (
          <ServicesCard serviceName={name}>
            <Image
              src={getIconSource(iconName)}
              alt={name}
              class="metric-icon"
            />
          </ServicesCard>
        ))
      }
    </div>
  </div>

  <a href={data.buttonUrl} class="btn primary services-button-mobile">
    {data.buttonLabel}
  </a>
</section>

<style>
  .services-wrapper {
    padding: 56px 16px;
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .our-services {
    display: flex;
    flex-flow: column;
  }

  .title-wrapper {
    max-width: 340px;
    display: flex;
    flex-flow: column;
    gap: 16px;
  }

  .title-wrapper > h3 {
    font-size: 42px;
  }

  .cards-wrapper {
    display: flex;
    flex-flow: column;
    gap: 24px;
    margin: 24px 0;
  }

  .our-services > h3 {
    max-width: 80%;
  }

  .services-button,
  .services-button-mobile {
    width: 187px;
    align-self: center;
  }

  .services-button {
    display: none;
  }

  @media (width >= 767px) {
    .services-wrapper {
      padding: 56px 32px;
    }

    .our-services {
      flex-flow: row;
      flex: 1;
      gap: 24px;
    }

    .title-wrapper {
      justify-content: center;
      text-align: center;
      gap: 24px;
    }

    .cards-wrapper {
      flex: 1;
    }

    .services-button-mobile {
      display: none;
    }

    .services-button {
      display: initial;
    }
  }

  @media (width >= 1280px) {
    .title-wrapper {
      width: 50%;
      max-width: 50%;
      align-items: center;
    }

    .title-description {
      max-width: 482px;
    }
  }
</style>
